* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: whitesmoke;
}

ul {
  display: flex;
  gap: 1.5em;
  list-style-type: none;
  height: 2em;
  padding: 2em;
}

nav ul li {
  float: left;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
}

li:first-of-type {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}
li:last-child {
  background-color: black;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 1em;
  margin-top: 0;
  bottom: 0.5em;
  display: flex;
  align-items: center;
}

header {
  background-color: #1e2c30;
  height: 17em;
  position: relative;
}

h1 {
  position: absolute;
  color: white;
}
